.switcher {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 4px;
    display: inline-block;
    font-size: 12px;
    line-height: 26px;
    padding: 2px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    width: 80px;

    input {
        display: none;
    }

    .content {
        position: relative;
        user-select: none;
    }

    .text {
        cursor: default;
        overflow: hidden;
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 50%;
    }

    .textYes {
        color: #fff;
        float: left;
    }

    .textNo {
        color: #9d9d9d;
        float: right;
    }

    .slider {
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 2px 1px #ccc;
        height: 26px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(0%);
        transition: transform 0.3s;
        width: 50%;
        z-index: 2;
    }

    &.is-active {
        background-color: #519b20;

        .slider {
            transform: translateX(100%);
        }
    }

    &.is-disabled {
        opacity: 0.4;
    }
}