$colorActive: #519b20;
$colorSecondary: #fff;
$colorBorder: #dfdfdf;
$disabledOpacity: 0.4;
$fontSize: 12px;
$fontFamily: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

.switcher {
    background-color: $colorSecondary;
    border: 1px solid $colorBorder;
    border-radius: 4px;
    display: inline-block;
    font-family: $fontFamily;
    font-size: $fontSize;
    line-height: 26px;
    padding: 2px;
    text-transform: uppercase;
    transition: background-color 0.3s;
    min-width: 80px;

    input {
        display: none;
    }

    .content {
        position: relative;
        user-select: none;
    }

    .text {
        cursor: default;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
        width: 50%;
    }

    .textYes {
        color: $colorSecondary;
        float: left;
    }

    .textNo {
        color: darken($colorBorder, 25%);
        float: right;
    }

    .slider {
        background-color: $colorSecondary;
        border-radius: 4px;
        box-shadow: 0 0 2px 1px $colorBorder;
        height: 26px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(0%);
        transition: transform 0.3s;
        width: 50%;
        z-index: 2;
    }

    &.is-active {
        background-color: $colorActive;

        .slider {
            transform: translateX(100%);
        }
    }

    &.is-disabled {
        opacity: $disabledOpacity;
    }
}