$switcherDisabledOpacity: 0.4 !default;
$switcherFontSize: 12px !default;
$switcherFontFamily: 'Lucida Sans Unicode', 'Lucida Grande', sans-serif !default;
$switcherDefaultColorActive: #519b20 !default;
$switcherDefaultColorSecondary: #fff !default;
$switcherDefaultColorBorder: #dfdfdf !default;
$switcherShortColorActive: #519b20 !default;
$switcherShortColorBorder: #aaa !default;


.switcher {
    cursor: pointer;
    font-family: $switcherFontFamily;
    font-size: $switcherFontSize;
    text-transform: uppercase;

    display: inline-block;
    *display: inline;
    *zoom: 1;

    .content {
        position: relative;
        user-select: none;
    }

    .text {
        display: none;
        overflow: hidden;
        text-align: center;
        white-space: nowrap;
    }

    &.is-disabled {
        opacity: $switcherDisabledOpacity;
    }
}

.switcher.default {
    background-color: $switcherDefaultColorSecondary;
    border: 1px solid $switcherDefaultColorBorder;
    border-radius: 4px;
    line-height: 26px;
    min-width: 80px;
    padding: 2px;
    transition: background-color 0.3s;

    input {
        display: none;
    }

    .slider {
        background-color: $switcherDefaultColorSecondary;
        border-radius: 4px;
        box-shadow: 0 0 2px 1px $switcherDefaultColorBorder;
        height: 26px;
        left: 0;
        position: absolute;
        top: 0;
        transform: translateX(0%);
        transition: transform 0.3s;
        width: 50%;
        z-index: 2;
    }

    .text {
        width: 50%;

        display: inline-block;
        *display: inline;
        *zoom: 1;
    }

    .textYes {
        color: $switcherDefaultColorSecondary;
        float: left;
    }

    .textNo {
        color: darken($switcherDefaultColorBorder, 25%);
        float: right;
    }

    &.is-active {
        background-color: $switcherDefaultColorActive;

        .slider {
            transform: translateX(100%);
        }
    }
}

.switcher.short {
    cursor: pointer;
    display: inline-block;
    margin-right: 5px;
    vertical-align: middle;

    input {
        display: none;
    }

    .content {
        border: 1px solid $switcherShortColorBorder;
        border-radius: 50%;
        height: 18px;
        padding: 0;
        width: 18px;
    }

    .slider {
        background-color: $switcherShortColorActive;
        border-radius: 50%;
        height: 12px;
        margin: 3px;
        opacity: 0;
        transform: scale(0);
        transition: all 0.2s;
        width: 12px;
    }

    &.is-active {
        .slider {
            opacity: 1;
            transform: scale(1);
        }
    }
}
